project1ab/data
project1ab/output
project1ab/test.py
project1ab/__pycache__
project1cd/data
project1cd/output
project1cd/__pycache__
project2/data
project2/output
project2/__pycache__
project3/data
project3/output
__pycache__
.DS_Store